body {
  background-color: #808080;
  background-image: url("images/background.jpg");
  background-blend-mode: screen;
  background-size: 1600px auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.jumbotron {
  padding: 20px;
  background: rgb(255, 255, 255); /* This is for ie8 and below */
  background: rgba(255, 255, 255, 0.3); /* the last argument is the opacity */
}

.recipes {
  padding: 20px;
}

.recipe {
  min-height: 220px;
}

.jumbotron .h1, .jumbotron h1 {
    color: blue;
}

.recipe h2 {
  color: blue;
}
